.app {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  overflow: hidden;

  &:after {
    content: '';
    display: block;
    width: 100vw;
    height: 390px;
    background-color: #3b4151;
    position: absolute;
    transform: rotateZ(45deg);
    top: 30%;
    left: 50%;
    box-shadow: 21px 12px 43px #3f51b5;
  }

  &:before {
    content: '';
    display: block;
    width: 100vw;
    height: 390px;
    background-color: #3b4151;
    position: absolute;
    transform: rotateZ(45deg);
    bottom: 30%;
    right: 50%;
    box-shadow: 21px 12px 43px #3f51b5;
  }

  .submit {
    margin-top: 10px;
  }

  .form_wrapper {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
    color: aliceblue;
    background-color: #fff;
    box-shadow: 0 3px 19px 0 #3f51b5;

    &_header {
      padding: 35px 20px;
      font: {
        size: 35px;
        family: 'Audiowide', cursive;
      };
      text-align: center;
      background-color: #3b4151;
    }

    &_footer {
      padding: 15px 20px;
      font: {
        size: 27px;
        family: 'Langar', cursive;
      };
      text-align: center;
      background-color: #3b4151;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }
}
